body{
    background-color: black;
}

.square{
    background-color: hotpink;
    color: pink;
    width: 50px;
    height: 50px;
    position: inherit;
    top: 0px;
    right:0px;
    bottom: 0px;
    left:0px;
}